.main-section {
    height: 200vh;
    border: 1px solid black;
    margin-top: 16px;
    padding: 16px;
}

.main-section-header {
    background: gray;
    padding: 16px;
}

.main-section-header-sticky {
    margin: 0;
    background: blue;
}